DJANGO_SECRET_KEY="your-secret-key-here"
REGISTRATION_SECRET="your-registration-secret-here"
DJANGO_ALLOWED_HOSTS="127.0.0.0,localhost,minu.local,chat_backend,chat_frontend"
DB_ENGINE="django.db.backends.postgresql"
DB_NAME="chatdb"
DB_USER="chatuser"
DB_PASSWORD="chatpass"
DB_HOST="db"
DB_PORT="5432"

POSTGRES_DB="chatdb"
POSTGRES_USER="chatuser"
POSTGRES_PASSWORD="chatpass"

VITE_API_BASE="http://backend:8000/api"