  GNU nano 8.4                                      .env
DJANGO_SECRET_KEY=change-this-to-a-long-random-secret
DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,minu.local

POSTGRES_DB=chatdb
POSTGRES_USER=chatuser
POSTGRES_PASSWORD=chatpass

REDIS_HOST=redis
REDIS_PORT=6379

VITE_API_URL=http://minu.local:8000/api
VITE_WS_URL=ws://minu.local:8000/ws
CORS_ALLOWED_ORIGINS=http://minu.local:5173
CSRF_TRUSTED_ORIGINS=http://minu.local:5173

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=change-this-admin-password
DJANGO_SUPERUSER_EMAIL=admin@example.com
